{% include 'header.html' %}

<br>


<div class="container" style="margin-top:8%;">
	<div class="row wow fadeInUp">
		<div class="col-sm-6">
			<img src="/static/images/about.png" style="width: 100%; vertical-align: middle;">
    </div>
	
    <div class="col-sm-6">
   <br>
  	<section>
  		<center>
  			<h2 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">About Aspects Fieldwork &amp; Research</h2>
  			<center>
  				<b style="font-size: 20px; font-weight: 700;font-family: 'Source Sans Pro', sans-serif;" class="wow fadeInUp animated">REDIRECTING CURIOSITY IN THE RIGHT DIRECTION</b>
        </center>


    
    
    <br>
    
        <p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
        	<span class="block">
        		Aspects Fieldwork &amp; Research is a leading market research, analytics, and consulting firm that helps curate and extract the information you need to make accurate business decisions and track your competitive environment. Headquartered in Mumbai, India, Aspects Fieldwork &amp; Research has a strong international presence spread across several other countries.
        	</span>
	
					<br><br>

					<span class="block">
					Our products and services are designed to help organizations everywhere redirect their curiosity in the right direction. Everyday people around the globe use Aspects Fieldwork &amp; Research to find answers to millions of questions. These answers compile to become an evaluation that drives companies to grow, succeed, and formulate to solve today’s most compelling challenges.
				  </span>

					<br><br>

					<span class="block">
					We thrive to develop new ways to innovate new ways for people to amplify their share of voices
					and opinions. Our research funnel is strategically divided as per the enterprise-grade format, focusing on small to large size organizations.
				  </span>

					<br><br>

					<span class="block">
					Empowering millions of active users to bring better products and services to the market by doing intricate and authentic details, delight their website and app users, promote customer loyalty, encourage their employees, and much more.
				  </span>
		    </p>
		  </center>
	  </section>
	</div>
</div>
</div>
	
<hr>
{% include 'footer.html' %}