{% include 'header.html' %}

<br>



<div style="background-color: #fff; padding: 38px 20px; margin-top:5%;">
  <center>
    <h1 style="color: #fff; font-size:36px;">Contact Us</h1>
  </center>

  <div class="row">
    <div class="col-sm-6">
      <form action="#" method="POST" class="form ">
        <input class="form-control" type="text" name="name" placeholder="Enter Name">
          <br>
        <input class="form-control" type="email" name="email" placeholder="Enter Email">
          <br>
        <input class="form-control" type="text" name="con" placeholder="Enter Contact with Country Code. For eg +91">
          <br>
        <input class="form-control" type="text" name="sub" placeholder="Enter Subject">
          <br>
        <textarea class="form-control" rows="10" cols="20" ></textarea>
          <br>
        <center>
        <button class="btn btn-sm btn-success" type="submit" style="background-color:#4cae4c; color: white;" >Submit
        </button>
        </center>
      </form>
    </div>

    <div class="col-sm-6">
      <center>
        <img src="/static/images/A.png" class="img-responsive">
      </center>
    </div>
    
</div>
</div>
    
    
	
<hr>
{% include 'footer.html' %}