<footer>
	<div style="background-color:#fff; color: #fff; height: 180px;">
		<div>
     <br>
      <div class="col-sm-3">
      	<li style="list-style-type: none;"><a href="#"><img src="/static/images/logo_1.png" width="100%"></a></li>
      </div>

      <div class="col-sm-3">
      	<ul>
      		<li style=" list-style-type: none; font-family: source sans pro, sans-serif; font-size: 14px; color: #000;font-size: 18px;  width: 20%; font-weight: bold;margin-bottom: 10px;border-bottom: 2px solid orange;" class="link_name">Services</li>
    	

          <li style="list-style-type: none; font-size: 14px;font-weight: bold;text-decoration: none;"><a style="color: #F20C78;" href="qualitative.html">Qualitative</a></li>

          <li style="list-style-type: none; font-size: 14px;font-weight: bold;text-decoration: none;"><a style="color: #F20C78;" href="quantitative.html">Quantitative</a></li>

          <li style="list-style-type: none; font-size: 14px;font-weight: bold;text-decoration: none;"><a style="color: #F20C78;" href="other.html">Other Services</a></li>
        </ul>

      </div>

      <div class="col-sm-3">
        <ul>
        	<li style="font-family: source sans pro, sans-serif; color: #000; border-bottom: 2px solid orange; list-style-type: none; width: 20%; margin-bottom: 10px; font-size: 18px;" class="link_name">Address</li>
            <p style="color:#F20C78;font-weight: bold;">
                Akshya Nagar 1st Block 1st Cross, Rammurthy nagar Bangalore-560016
            </p>
          </li>l
				
		    </ul>

	    </div>

  <div class="col-sm-3">
		<ul>
			<li style="list-style-type:none; border-bottom: 2px solid orange; font-family: source sans pro, sans-serif; font-size: 18px; color: #000; width: 20%; margin-bottom: 10px;" class="link_name">Contact</li>
			<li style="list-style-type:none;"><a style="color: #F20C78;font-size: 14px;
         font-weight: bold;
         text-decoration: none" href="#" tel="919874563120">+91 9874563120</a></li>
			<li style="list-style-type:none;"><a style="color: #F20C78; font-size: 14px;
         font-weight: bold;
         text-decoration: none" href="#">+91 9874563210</a></li>
			<li style="list-style-type:none;"><a style="color: #F20C78; font-size: 14px;
         font-weight: bold;
         text-decoration: none" href="#">contact@arf.com</a></li>
    </ul>
  </div>
	<div style="margin-top: 10px; margin-left: 80%;">
    <a id="fb" class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i style="font-size:25px;" class="fab fa-facebook-f"></i></a>
    <a id="insta" class="social-button facebook" href="https://twitter.com/" target="_blank" ><i style="font-size:25px;" class="fab fa-twitter"></i></a>
    <a id="twitter" class="social-button linkedin" href="https://www.linkedin.com/"  target="_blank"><i style="font-size:25px;" class="fab fa-linkedin"></i></a>
    <a id="link" class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i style="font-size:25px;" class="fab fa-youtube"></i></a>
    <a id="youtube" class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i style="font-size:25px;" class="fab fa-instagram"></i></a>
  </div>
  </div>
</div>

<div style="padding: 20px 40px; color: white; background-color: black;">
  <div>
    <span>Copyright © 2021 <a style="color:white;" href="#">Aspects Fieldwork & Research</a>| Design & Developed By <a style="color:white;" href="#">Ntech Global Solutions</a></span>
  </div>
</div>
</footer>
</body>
</html>