<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Aspect fieldwork & Research | Marketing Research Company</title>

    <link rel="shortcut icon" type="image/jpg" href="/static/images/logo_1.png">

    <link rel="stylesheet" href="static/styles.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

       <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    
      <!-- animation -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <script>
        new WOW().init();
    </script>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    	<img src="/static/images/logo_1.png" style="width:30%;" class="hidden-xs hidden-sm">
	    <img src="/static/images/logo_1.png" style="height: 90px;width:65%;" class="hidden-lg hidden-md">

    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>  
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="margin-left: 35%; margin-top: -8%;">
      	<li><a href="#">Home</a></li>
      	<li><a href="about_us.html">About Us</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
          <ul class="dropdown-menu" id="nav">
            <li><a href="qualitative.html" style="color:#fff;">Qualitative</a>
            	
            </li>
            
            <li><a href="quantitative.html" style="color:#fff;">Quantitative</a>
            	
            </li>
            
            <li><a href="other.html" style="color:#fff;text-decoration: underline;">Other services</a>
            	
            </li>
            
          </ul>
        </li>
        <li><a href="industry.html">Industry</a></li>
        <li><a href="coverage.html">Coverage</a></li>
        <li><a href="contact_us.html">Contact Us</a></li>
        <li><a href="join_our_panel.html">
        	<button type="button" class="btn btn-xs btn-success">Join our panel</button>
        </a></li>
    
      </ul>  
    </div>
  <div>
</nav>