{% include 'header.html' %}

<br>

<div class="container">

	<div class="row wow fadeInUp">

		<center>
			<h2 style=" font-family:source sans pro, sans-serif ; margin-top: 10%; font-weight:bolder; color: #337ab7;">Industry We Work With</h2>
		</center>
        <div class="row">
        	<div class="col-sm-3">
				<img src="/static/images/agri.jpg" class="img-responsive" style="width: 100%;">
				<center>
					<h4 style="background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%; font-family:source sans pro, sans-serif;">Agriculture</h4>
				</center>
            </div>
		    <div class="col-sm-3">
		    	<img src="/static/images/automotive.jpg" class="img-responsive" style="width: 100%;">
			    <center>
			    	<h4 style="background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;font-family:source sans pro, sans-serif;">Automotive</h4>
			    </center>
		    </div>
			
		    <div class="col-sm-3">
		    	<img src="/static/images/aviation.jpg" class="img-responsive"  style="width: 100%;">
			    <center>
			    	<h4 style="background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;font-family:source sans pro, sans-serif;">Aviation</h4>
			    </center>
		    </div>
	
		    <div class="col-sm-3">
			    <img src="/static/images/ecom.jpg" class="img-responsive" style="width: 100%;">
			    <center>
			    	<h4 style="background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%; width: 100%;font-family:source sans pro, sans-serif;">ecomerce</h4>
			    </center>
		    </div>
		</div>
<br>
        <div class="row">
		<div class="col-sm-3">
			<img src="/static/images/education.jpg" class="img-responsive" style="width: 100%;">
			<center><h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Education</h4></center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/electronic.jpg" class="img-responsive" style="width: 100%;">
			<center><h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Electronics</h4></center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/film.jpg" class="img-responsive" style="width: 100%;">
			<center><h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -2%;">Film</h4></center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/fmcg.jpg" class="img-responsive" style="width: 100%;">
			<center><h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">fmcg market</h4></center>
		</div>
        </div>
  <br>
		<div class="row wow fadeInUp">

		<div class="col-sm-3">
			<img src="/static/images/health.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%; font-family:source sans pro, sans-serif;">Health</h4>
			</center>		
        </div>

        <div class="col-sm-3">
			<img src="/static/images/hospitality.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;font-family:source sans pro, sans-serif;">Hospitality</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/infra.jpg" class="img-responsive"  style="width: 100%;">
			<center>
				<h4 style="background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;font-family:source sans pro, sans-serif;">Infrastruture</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/insurance.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%; width: 100%;font-family:source sans pro, sans-serif;">Insurance</h4>
		    </center>
		</div>
		</div>
<br>
		<div class="row wow fadeInUp">
		<div class="col-sm-3">
			<img src="/static/images/it.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">IT</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/logistics.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Logistics</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/gj.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -2%;">Gems & Jewellery</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/luxury.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Luxury</h4>
		    </center>
		</div>
		</div>
<br>
        <div class="row wow fadeInUp">
		<div class="col-sm-3">
			<img src="/static/images/media.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Media</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/og.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Oil & Gas</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/politics.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -2%;">Politics</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/realestate.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Real Estate</h4>
		    </center>
		</div>
		</div>
<br>
        <div class="row wow fadeInUp">
		<div class="col-sm-3">
			<img src="/static/images/retail.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Retail</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/shopper.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Shopper</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/sports.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -2%;">Sports</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/sr.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Social & Rural</h4>
		    </center>
		</div>
	    </div>
<br>
        <div class="row wow fadeInUp">
		<div class="col-sm-3">
			<img src="/static/images/telecommunication.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Telecommunication</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/textile.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Textile</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/tt.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -2%;">Travel & Tourism</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/fb.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Fashion & Beauty</h4>
		    </center>
		</div>
	    </div>
<br>
        <div class="row wow fadeInUp">
		<div class="col-sm-3">
			<img src="images/fnb.jpg" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Food & Beverage</h4>
			</center>
		</div>

		<div class="col-sm-3">
			<img src="/static/images/Banking_&_Finance.png" class="img-responsive" style="width: 100%;">
			<center>
				<h4 style="font-family:source sans pro, sans-serif;background-color: #f2f2f2;border: 1px solid #dcdcdc;padding: 10px 20px;margin-top: -1%;">Banking & Finance</h4>
			</center>
	    </div>
        </div>
	</div>
</div>
	
<hr>
{% include 'footer.html' %}