{% include 'header.html' %}

<br>


<div class="container" style="margin-top:10%;">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
		    <br>
			<img src="/static/images/Other-Services.jpg" style="width:100%;height: 355px;">
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
		    <!--<br><br>-->
			<center class="wow fadeInUp" style="margin-top: 3.2%;">
				<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">OTHER SERVICES</h3>
				<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
				    <span class="block">
					Aspects Fieldwork & Research is known for its dedication and competency to do comprehensive research for any industry across the country. This not only 
					gives you a wide coverage, but also assures you of realistic data, statistics, and information to kickstart your business, launch a new product,
                    or introduce a service that you’ve always wanted to.</span>
                    <br><br>
                    <span class="block">
                    With our methodologically followed survey process, we can create as many types of surveys as you want and get answers you need to make better 
                    solutions. Every industry demands a different approach and we understand the sensitivity of the same.</span>
				</p>
				<p style="font-size: 20px;line-height: 24px;color: #000;">
				    <b>
					Apart from accurate market research, Aspects Fieldwork & Research is also known for services such as: 
				    </b>
				</p>
			</center>
		</div>
	</div>
</div>
<div>
	<br>
	<div class="container" style="background-color: #f4f4f4;">
	    <div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Solutions For Teams</h3>
				</center>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <div id="selection">
    						<ul>
    						    <li><b>Customer Experience</b>: Delight customers and enhance loyalty through feedback</li>
    						    <li><b>Human Resources</b>: Improve your employee experience, engagement, and retention</li>
    						    <li><b>Marketing</b>: Boost ROI, create effective winning campaigns, and drive growth</li>
    						    <li><b>Education</b>: Elevate your student experience to become a data-driven institution</li>
    						</ul>
    					</div>
					</p>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
			    <center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">People Powered Data For Business</h3>
				</center>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <div id="selection">
    						<ul>
    						    <li>Customers: Win more customers with people powered data</li>
    						    <li>Employees: Build a stronger workforce with employee powered data</li>
    						    <li>Markets: Build an effective strategy with market powered data</li>
    						</ul>
    					</div>
					</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">	Surveys Types</h3>
				</center>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <div id="selection">
    						<ul>
    						    <li>Customer Satisfaction</li>
    						    <li>Customer Loyalty</li>
    						    <li>Event Surveys</li>
    						    <li>Employee Satisfaction</li>
    						    <li>Job Satisfaction</li>
    						    <li>HR Surveys</li>
    						    <li>Market Research</li>
    						    <li>Opinion Polls</li>
    						    <li>Concept Testing</li>
    						</ul>
						</div>
					</p>
				
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Additional Services</h3>
				</center>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <div id="selection">
    						<ul>
    						    <li><b>Questionnaire Design</b>: Collect generalisable and interpretable data to collect accurate data through an instrumental research-based questionnaire</li>
    						    <li><b>Charting</b>: A graphical representation for data visualization in which information is represented by symbols such as graphs, pie charts, diagram, etc to give a neatly distributed and accurate results</li>
    						    <li><b>Survey Programming</b>: A focused survey on one particular product/service which includes scrutiny into customer inclinations to understand the target audience better</li>
    						    <li><b>Report Writing</b>: Outline the processes, data, and findings of a systematic investigation through a well-crafted document</li>
    						    <li><b>Transcription</b>: A precise way to translate audio recordings into a legit written document that acts as a reliable source of information to make crucial business calls</li>
    						    <li><b>Translation</b>: A detailed process whereby knowledge is passed anywhere along the translational pathway. Research findings are translated into practice, policy of further analysis</li>
    						    <li><b>Data Entry</b>: A segregated information through first-hand or secondary research, there are two types of data entry in market research. Primary data where original information is collected through practices like surveys and open group discussions. On the other hand, secondary research involves relying on information from newspapers, internet, or company reports</li>
    						</ul>
    					</div>
					</p>
			</div>
		</div>
	</div>
	<br>
	<div style="background-color: #3A56A1;padding: 38px 20px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<center class="wow fadeInUp">
						<h3 style="font-family: 'Source Sans Pro', sans-serif;color: #fff;">Make critical business decisions backed by powerful insights with One Way Solution. </h3>
						<a href="contact.php">
						    <button type="button" class="btn btn-success btn-md">Get in touch</button>
					    </a>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>    
    
	
<hr>
{% include 'footer.html' %}