{% include 'header.html' %}
<br>


<div class="container" style="margin-top:10%;">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
		    <br>
			<img src="/static/images/Qualitative_research.png" style="width: 100%;height: 350px;">
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<!--<br><br><br>-->
			<center class="wow fadeInUp" style="margin-top: 4.7%;">
				<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">QUALITATIVE RESEARCH</h3>
				<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
				    <span class="block">
					Also known as primary research, qualitative analysis demands interaction and real-time data.
					This is the process of collating data that hasn’t been out there yet. Interviews, market research surveys, questionnaires, and more fall under qualitative or primary research.</span>
					<br><br>
					<span class="block">
					At Aspects Fieldwork & Research, we conduct market research that adds a distinctive aspect to your
					organization. From coordinating with industry professionals to subject matter experts, we love going an extra mile for you</span>
				</p>
				<a href="contact_us.html">
				    <button type="button" class="btn btn-md btn-success">Get In Touch</button>
				</a>
			</center>
		</div>
	</div>
</div>
<div>
	<br>
	<div style="background-color: #3A56A1;padding: 38px 20px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<center class="wow fadeInUp">
						<h3 style="font-family: 'Source Sans Pro', sans-serif;color: #fff;">HOW DOES QUALITATIVE RESEARCH BENEFIT YOU?</h3>
						<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #fff;">
							The need for primary research arises when you want to know customer reviews before launching new products or services in the market. This essentially helps when you are competing with various other established brands of your kind. With the audience knowing what
							your organization intends to bring to the table, qualitative research helps you closely understand the pros and cons way before the launch.
							<br><br>
							With technology advancing every single day, our team of experts ensures to give you seamless
							services using smart tools to target specific audiences, irrespective of the audience and region.
						</p>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="background-color: #f4f4f4;">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;font-weight: bolder;" class="text-primary">ESSENTIALS OF QUALITATIVE RESEARCH</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
						The essence of qualitative market research is in-depth interaction with potential customers and industry experts. Aspects Fieldwork & Research focuses on the essentials of the same to give you accurate analysis and results. This includes:
					</p>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 id="heading_services">One-on-one Interviews</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						In-depth interaction with industry-savvy individuals to get a thorough knowledge and breakdown of the subject. This process involves us interacting through personal interviews, telephonic conversations, infacility, or in-clinic evaluation. This data will be provided to you on a real-time basis. At One Way Solutions, take pride in giving authentic data and agency-client confidentiality.</span>
					</p>
				</center>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
			    <center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Product Placements</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						A form of advertisement, product placement is an act of putting the branded product into a movie or a web series as a part of promoting the same. The movie/web series gets paid for the same. It leaves a remarkable impression on the viewers. This technique of market research is highly effective as it can influence theaudience indirectly. With the show, your brand is effortlessly etched in the audience's minds.</span>
					</p>
				</center>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;" >Focus Group</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						Catering to every industry, One Way Solutions specializes in doing focused group interviews and research. We go to the absolute ground level to give you precise results that will help you in preparing a way forward. This small group consists of carefully selected people who discuss a given topic. This process is usually used to identify and explore how people think and behave, and throw light on why, what, and how questions</span>
					</p>
				</center>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Usability Testing</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						A technique used in user-centered interaction, usability testing is designed to evaluate a product by testing it on actual users. This is an irreplaceable practice since it gives direct input on how real users use the products. Strategic planning goes behind conducting usability testing. This involves recruiting real-time users, designing the tasks, running the sessions, and analyzing the insights.</span>
					</p>
				</center>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Shadow Shopping</h3>
				</center>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						Also known as ‘Mystery Shopping’, this is a process in which a person visits a physical store (bank, restaurant, retail store, etc) to measure the quality of customer experience. Some of the parameters for this study are:
						</span>
						<div id="selection">
    						<ul>
    							<li style="font-size: 16px;">How is the customer greeted</li>
    							<li style="font-size: 16px;">What is the maximum acceptable waiting time</li>
    							<li style="font-size: 16px;">How many products should be on the display</li>
    							<li style="font-size: 16px;">How is the customer query addressed and solved</li>
    						</ul>
    					</div>
						<p style="font-size: 16px;">
						    Not only do we conduct regular audits for you, but we also interact with the audience to know their experience. This adds value to your research and acts as an important decision-making factor.
					    </p>
					</p>
				<!--</center>-->
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Online Bulletin Board</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						Remember the conventional bulletin board from your time in school that displayed a wide array of arts, crafts, important information, and more? This approach is pretty much similar to it.
						<br><br>
						With a spin of modern-day advertising, an online bulletin board is a qualitative method of collating research by gathering people designed for the subject. The targeted people
						come under one roof to facilitate data production through comprehensive discussion among participants and a moderator. They read discussion transcripts, answer questions, post insights, and more.</span>
					</p>
				</center>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Consumer Connect</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						Putting your consumers first is any brand’s foremost mission. At One Way Solutions, we understand every industry caters to different audiences and niches. And to understand what the consumer wants in every different situation or season, this approach comes into play.</span>
						<br><br>
						<span class="block">
						Consumer behaviour, attitude, and belief systems have undergone a dramatic change, especially during the pandemic. Brands have been forced to evolve, while severalregular marketing practices have reversed. Staying relevant is all that matters and we help you do the same with exhaustive research by connecting with your targeted consumers.</span>
					</p>
				</center>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Ethnographic Research</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						Not every research happens in a lab, some need a natural environment to give you an accurate result. Ethnographic research is a study to gain insights into how users interact with things in their natural environment. Qualitative research, this approach aims to provide an in-depth insight into the user’s views and actions along with the sights and sounds they encounter during the day.</span>
						<br><br>
						<span class="block">
						This includes direct observations, diary studies, video recordings, photography, and artifact analysis. Observations can be made from anywhere including the user's workplace, home, or even while they’re out with their friends and family.</span>
						<br><br>
						<span class="block">
						At One Way Solutions, we bring to you meaningful and informative user opinions to help you make decisions strategically.</span>
					</p>
				</center>
			</div>
		</div>
	</div>
	<br>
	<div style="background-color: #3A56A1;padding: 38px 20px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<center class="wow fadeInUp">
						<h3 style="font-family: 'Source Sans Pro', sans-serif;color: #fff;">WHY CHOOSE ONE WAY SOLUTIONS?</h3>
						<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #fff;">
							Our fundamental objective is to meet all your needs when it comes to market research. A wide geographical reach, an industry-flexible approach, and a complete transparency policy are what we bring to the table. Here, we never make it about us. It is always about our clients. To sum it up, One Way Solutions is your one-stop solution for all your qualitative or primary research-related concerns.
						</p>
						<a href="contact.php">
						    <button type="button" class="btn btn-success btn-md">Tell us how can we help you</button>
					    </a>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
    
    
	
<hr>
{% include 'footer.html' %}