{% include 'header.html' %}


<div class="container" style="margin-top:5%;">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<br>
			<img src="/static/images/quantitative_research.jpg" style="width: 100%;height: 350px;">
		</div>

		<div class="col-sm-6 col-md-6 col-lg-6">
			<center class="wow fadeInUp" style="margin-top: 4.7%;">
				<h3 style="font-family:'source sans pro', sans-serif; background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">QUANTITATIVE RESEARCH</h3>
				<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
				    <span class="block">
					When numbers and figures come together to form a proper analysis, it is called quantitative research. It is majorly used to find patterns and averages, make predictions, and generalize results to a wider population. Quantitative research is widely used in understanding customer psychology and to get accurate marketing positioning.</span>
					<br><br>
					<span class="block">
					One Way Solution gives you in-depth research by making your result as authentic as possible. From digging in the correct numbers to presenting you with proper facts and figures, all the boxes are ticked under one umbrella.</span>
				</p>
				<a href="contact_us.html">
				    <button type="button" class="btn btn-md btn-success">Get In Touch</button>
				</a>
			</center>
		</div>
	</div>
</div>

<div>
	<br>
	<div style="background-color: #3A56A1;padding: 38px 20px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<center class="wow fadeInUp">
						<h3 style="font-family: 'Source Sans Pro', sans-serif;color: #fff;">HOW DOES QUANTITATIVE RESEARCH WORK?</h3>
						<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #fff;">
							This approach is used when you want to create social awareness or generate knowledge about the ongoing situation. Unlike qualitative research, there is no room for opinions or decisions derived through debates. Here, numbers, data, and graphs play a major role.
							<br><br>
							Using advanced tools and having subject matter experts on board, One Way Solution helps to give you a narrower result by giving comprehensive solutions to all the pain points. 
						</p>
					</center>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container" style="background-color: #f4f4f4;">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;font-weight: bolder;" class="text-primary">TYPES OF QUANTITATIVE DESIGN</h3>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Descriptive research</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						Here, analysis takes place to derive the current status of an identified variable. These research projects are designed to provide systematic information about a particular phenomenon. There are no assumptions involved in the beginning here, but it comes into the picture after collecting relevant data. The information is collected in a standardized manner and each unit is studied carefully to start the hypothesis of the project.</span>
						<br><br>
						<span class="block">
						Now, this method is majorly used to understand human behaviour in various situations. Some common examples of this could be how scientists feel about global warming, how fifth-grade students spend their time during summer vacations, how parents feel about the twelve-month school year, etc</span>
					</p>
				</center>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Correlational research</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						As the name suggests, this method is used to find relations between two or more variables. Correlational research is designed to interpret relations between and among several facts. This will determine the trends and patterns in data and there is no manipulation of information done here. They are identified and studied in their absolute natural setting.</span>
						<br><br>
						<span class="block">
						The relationship between diet and anxiety, intelligence and self-esteem, etc fall under this approach. </span>
					</p>
				</center>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Quasi-experimental research</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						As the name suggests, this method is used to find relations between two or more variables. Correlational research is designed to interpret relations between and among several facts. This will determine the trends and patterns in data and there is no manipulation of information done here. They are identified and studied in their absolute natural setting.</span>
						<br><br>
						<span class="block">
						The relationship between diet and anxiety, intelligence and self-esteem, etc fall under
						this approach.</span>
					</p>
				</center>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center class="wow fadeInUp">
					<h3 style="font-family: 'Source Sans Pro', sans-serif;background-color: #3A56A1;color: #fff;padding: 10px 20px;border-radius: 5px;border: 2px solid #000;">Experimental research</h3>
					<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #000;">
					    <span class="block">
						Also termed true experimentation, a scientific method is used to determine a causeeffect relationship among a group of variables. Such research is not always done in a laboratory. It is a study where an effort is made to identify and impose control over every other variable except one.</span>
						<br><br>
						<span class="block">
						When you need to study the effect of a new treatment plan on breast cancer or whether
						personalised training is better than conventional teaching methods, experimental research is the one you need</span>
					</p>
				</center>
			</div>
		</div>
	</div>
	<br>
	<div style="background-color: #3A56A1;padding: 38px 20px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<center class="wow fadeInUp">
						<h3 style="font-family: 'Source Sans Pro', sans-serif;color: #fff;">WHY CHOOSE ONE WAY SOLUTIONS?</h3>
						<p style="text-align: justify;font-size: 16px;line-height: 24px;color: #fff;">
							Our fundamental objective is to meet all your needs when it comes to market research. A wide geographical reach, an industry-flexible approach, and a complete transparency policy are what we bring to the table. Here, we never make it about us. It is always about our clients. To sum it up, One Way Solutions is your one-stop solution for all your qualitative or primary research-related concerns. 
						</p>
						<a href="contact_us.html">
						    <button type="button" class="btn btn-success btn-md">Tell us how can we help you</button>
					    </a>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
    
    
	
<hr>
{% include 'footer.html' %}